* {
    margin: 0;
    padding: 0;
}


.container__page {
    /* mida */
    width: 95%;
    height: 100vh;
    /* espai */
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr;
    /* colors */
    background-color: rgb(118, 90, 235);
    /* tipografia */
    font-family: Arial, Helvetica, sans-serif;
}

.container__page, .page__form {
    /*aliniacio*/
    display: grid;    
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.page__title{
    /* mida */
    padding: 10%;
    margin: 5%;
    /* colors back*/
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    /* font */
    font-size: 2rem;
    color: rgb(49, 17, 179);
    font-weight: 100;
}

.page__form{
    /* mida */
    height: 80%;
}

.form__subtitle{
    /* mida */
    padding: 5%;
    margin: 10%;
    margin-bottom: 0;
    /* colors back*/
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(27, 12, 121, 0.7);
    /* font */
    font-size: 0.9rem;
    color: white;
    font-weight: 100;
    letter-spacing: 0.2cap;
}

.form__buttons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
    height: 70%;
}

.btns{
    margin: auto;
    width: 35%;
    height: 25vh;    
}

.btns__green{
    /* colors back*/
    background-color: rgb(3, 128, 3);
    border-radius: 10px;
    border: none;

    color: white;
}

.btns__red{
    /* colors back*/
    background-color: rgb(148, 1, 1);
    border-radius: 10px;
    border: none;

    color: white;
}

@media screen and (min-width: 708px) {
    .container__page {
        /* mida */
        width: 60%;
    }

    .page__title{
        /* mida */
        padding: 15%;
        margin: 5%;
        /* font */
        font-size: 5rem;
    }

    .page__form{
        height: 100%;
    }

    .form__subtitle{
        /* mida */
        padding: 13%;
        margin: 10%;
        /* font */
        font-size: 1.3rem;
    }

    .form__buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
        height: 70%;
    }

    .btns{
        margin: auto;
        margin-bottom: 50px;
        width: 80%;
        height: 15vh;    
    }
}